<article class="listing">
  <button {{action "carSelected"}}>
    <img src={{car.carimage}} style="width:153px;hieght:150px;">
  <div class="detail carmodel">
    {{car.carmodel}}
  </div>
</button>
</article>
