<div class="body" style="width:290px;hieght:150px;">
<p>This form will help us understand your car's issues,
  and improve the advice you receive through AutoChat.</p>
</div>
{{#link-to 'diagnostic-pages.car-select'}}
    <a href="#">Begin</a>
{{/link-to}}
