<h1>Which car?</h1>
{{#each model as |carUnit|}}
  {{car-listing car=carUnit}}
{{/each}}
<div>
{{#link-to 'dashboard'}}
  <br/>
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.problems-list'}}
    <a href="#">Next</a>
{{/link-to}}
</div>
