<h1>When does it happen?</h1>
<h2>During these driving conditions: </h2>
<h3><button {{action "driveSelected"}}>Accelerating</button></h3>
<h3><button {{action "driveSelected"}}>Decelerating</button></h3>
<h3><button {{action "driveSelected"}}>Cruising</button></h3>
<h3><button {{action "driveSelected"}}>Braking</button></h3>
{{#link-to 'diagnostic-pages.cause-engine'}}
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.cause-ro'}}
    <a href="#">Next</a>
{{/link-to}}
