<h1>When does it happen?</h1>
<h2>At a certain speed (mph): </h2>

<h2>At a certain RPM (x1000): </h2>

{{#link-to 'diagnostic-pages.cause-temperature'}}
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.cause-engine'}}
    <a href="#">Next</a>
{{/link-to}}
