<h1>How often?</h1>
<h3><button {{action "roSelected"}}>Always</button></h3>
<h3><button {{action "roSelected"}}>Sometimes</button></h3>
<h3><button {{action "roSelected"}}>Rarely</button></h3>
{{#link-to 'diagnostic-pages.cause-driving'}}
  <body>
    <a href="#">Back</a> <br/>
  </body>
{{/link-to}}
{{#link-to 'diagnostic-pages.cause-fuel'}}
  <body>
    <a href="#">Next</a> <br/>
  </body>
{{/link-to}}
