<h2>Upload media: (optional)</h2>
<h3><button {{action "mediaSelected"}}><img src="/assets/user-type images/owner type.PNG"></button></h3>
<h3><button {{action "mediaSelected"}}><img src="/assets/user-type images/owner type.PNG"></button></h3>
<h2>Other notes: (optional)</h2>
<div class="notes">
  {{input type="text" class="notes" value=other placeholder="Type something"}}
</div>
{{#link-to 'diagnostic-pages.car-select'}}
  <body>
    <a href="#">Back</a> <br/>
  </body>
{{/link-to}}
{{#link-to 'diagnostic-pages.form-review'}}
  <body>
    <a href="#">Next</a> <br/>
  </body>
{{/link-to}}
