<h1>How often?</h1>
<h3><button {{action "roSelected"}}>Always</button></h3>
<h3><button {{action "roSelected"}}>Sometimes</button></h3>
<h3><button {{action "roSelected"}}>Rarely</button></h3>
{{#link-to 'diagnostic-pages.cause-driving'}}
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.cause-fuel'}}
    <a href="#">Next</a>
{{/link-to}}
