<h1>Diagnostic Form Review</h1>
{{#link-to 'diagnostic-pages.cause-media'}}
  <body>
    <a href="#">Back</a> <br/>
  </body>
{{/link-to}}
{{#link-to 'diagnostic-pages.form-submitted'}}
  <body>
    <a href="#">Submit</a> <br/>
  </body>
{{/link-to}}
