<h1>Diagnostic Form Review</h1>
<h3>Car</h3>
<h3>What's wrong?</h3>
<h3>When the weather is:</h3>
<h3>When the engine temperature gauge reads:</h3>
<h3>During these driving conditions:</h3>
<h3>How often:</h3>
<h3>Type of fuel used:</h3>
<h3>When this started:</h3>
<h3>Images</h3>
<h3>Other notes:</h3>
{{#link-to 'diagnostic-pages.cause-media'}}
    <a href="#">Back</a>
{{/link-to}}
{{#link-to 'diagnostic-pages.form-submitted'}}
    <a href="#">Submit</a>
{{/link-to}}
