<div class="body" style="width:290px;hieght:150px;">
<img src='/assets/images/FormSubmitted_DiagnosisForm.png' style="width:153px;hieght:150px;">
<h2>Form Submitted!</h2>
<p>We will be getting back with you very soon with your diagnostic form results.</p>
</div>
{{#link-to 'dashboard'}}
    <a href="#">Back To Dashboard</a>
{{/link-to}}
<br>
{{#link-to 'diagnostic-pages.car-select'}}
    <a href="#">Submit Another</a>
{{/link-to}}
