<div class="container">
  <div class="menu">
        <h1>
        <em>Auto</em>
      </h1>
  </div>
</div>
<div align="center">
<style>
body{
    background: navy;
    background: -webkit-linear-gradient(navy, teal);
    background: -o-linear-gradient(navy, teal);
    background: -moz-linear-gradient(navy, teal);
    background: linear-gradient(navy, teal);
}
</style>
{{outlet}}
</div>
