{{slide-nav}}
<div align="center">
  <h1>Dashboard</h1>
  <div class="links">
  <style type="text/css">
    a:link{ text-decoration:none; background:#d3d3d3; color:black; font-size:170%; width:200px;}
  </style>
    {{#link-to 'dashboard'}}
      <body>
        <a href="#">Recent Activity</a> <br/>
      </body>
    {{/link-to}}

    {{#link-to 'dashboard'}}
      <body>
        <a href="#">My Car</a> <br/>
      </body>
    {{/link-to}}

    {{#link-to 'mechanic'}}
      <body>
        <a href="#">Mechanic Page</a> <br/>
      </body>
    {{/link-to}}

    {{#link-to 'diagnostic-pages.begin-page'}}
      <body>
        <a href="#">Diagnostic Report</a> <br/>
      </body>
    {{/link-to}}

    {{#link-to 'dashboard'}}
      <body>
        <a href="#">Chatbot</a> <br/>
      </body>
    {{/link-to}}
    <button {{action "signOut"}}>Sign Out</button>
    <br />
    {{#each model as |account|}}
      <div>
        <p>{{account.username}}</p>
      </div>
      <div>
        <p>{{account.email}}</p>
      </div>
      <div>

      </div>
    {{/each}}
  </div>
</div>
