<div class="container">
	<div align="center">
	  <h2>ABOUT YOU</h2>
	  <br />
	  <style>
	  select{border:0;outline:0;background:transparent;border-bottom:1px solid black;width:400px; height:50px; font-size:30px;}
	  </style>
	  <style>
	  input{border:0;outline:0;background:transparent;border-bottom:1px solid black;width:400px; height:50px; font-size:30px;}
	  </style>
	  <form class="container">
	  <input type="text" placeholder="first name">
	  <br />
	  <br />
	  <input type="text" placeholder="last name">
	  <br />
	  <br />
	  <select class="select" name="gender">
	  <option value="" disabled selected>gender</option>
	  <option value="1">male</option>
	  <option value="2">female</option>
	  </select>
	  <br />
	  <br />
	  <input type="date" placeholder="birthday">
	  <br />
	  <br />
	  <input type="tel" placeholder="phone number">
	  </form>
	  <br />
	  <div class="links">
	   <style type="text/css">
	   a:link{ text-decoration:none; font-size:200%; border:1px solid black; background:white; border-radius:20px; width:100px; padding:5px 30px;}
	   </style>
	   <body>
	   <a href="vehicle-info">next</a> <br/>
	   </body>
	   <br />
       </div>
	</div>
</div>

