<div class="container">
	<div align="center">
	  <h2>CREATE YOUR ACCOUNT</h2>
	  <br />
	  <style>
	  input{border:0;outline:0;background:transparent;border-bottom:1px solid black;width:400px; height:50px; font-size:30px;}
	  </style>
	  <form class="container">
	  <input type="email" placeholder="email@gmail.com">
	  <br />
	  <br />
	  <input type="password" placeholder="password">
	  <br />
	  <br />
	  <input type="password" placeholder="confirm password">
	  </form>
	  <br />
	  <br />
	  <div class="links">
	   <style type="text/css">
	   a:link{ text-decoration:none; font-size:200%; border:1px solid black; background:white; border-radius:20px; width:100px; padding:5px 30px;}
	   </style>
	   <body>
	   <a href="personal-info">next</a> <br/>
	   </body>
	   <br />
       </div>
	</div>
</div>

