{{gatekeeper-sign-in-vertical signInComplete=(action "signInComplete")}}
<div class="container">
  <p> Don't have an account yet?
    {{#link-to "sign-up" class="button"}}
      Sign Up.
    {{/link-to}}
  </p>
  </div>
