<div class="container">
	<div align="center">
	  <h2>ABOUT YOUR VEHICLE</h2>
	  <br />
	  <style>
	  input{border:0;outline:0;background:transparent;border-bottom:1px solid black;width:400px; height:50px; font-size:30px;}
	  </style>
	  <form class="container">
	  <input type="text" placeholder="make">
	  <br />
	  <br />
	  <input type="text" placeholder="model">
	  <br />
	  <br />
	  <input type="year" placeholder="year">
	  <br />
	  <br />
	  <input type="number" placeholder="miles">
	  </form>
	  <br />
	  <div class="links">
	   <style type="text/css">
	   a:link{ text-decoration:none; font-size:200%; border:1px solid black; background:white; border-radius:20px; width:100px; padding:5px 30px;}
	   </style>
	   <body>
	   <a href="dashboard">done</a> <br/>
	   </body>
	   <br />
       </div>
	</div>
</div>
