<div align="center">
	  <h2>ABOUT YOUR VEHICLE</h2>
	  <br />
	  <style>
	  input{border:0;outline:0;background:transparent;border-bottom:1px solid black;width:400px; height:50px; font-size:30px;}
	  </style>
	   <!-- set up button style -->
	  <style type="text/css">
	   button{ text-decoration:none; color:white; font-size:150%; border:1px solid black; background:black; border-radius:15px; width:130px; padding:5px 30px;}
	   </style>
	   <!-- avoid submitting if validation return false -->
	  <form name="form3" onsubmit="window.location.href='dashboard'; return false;">
	  <input type="text" placeholder="make" required>
	  <br />
	  <br />
	  <input type="text" placeholder="model" required>
	  <br />
	  <br />
	  <!-- make a min and max year -->
	  <input type="number" placeholder="year" min="1970" max="2017" required>
	  <br />
	  <br />
	  <input type="number" placeholder="miles" min="0" required>
	  <br />
	  <br />
	  <!-- action will prevent submitting before validation -->
	  <button{{action}}>done</button>
	  </form>
</div>
